    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
        JenGyy - {% block title %}Home{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="{% static 'lib/css/bootstrap.min.css' %}" type="text/css">
    </head>
        <body>
            <div id="main">
                <!-- navbar -->
                <div id="header">
                    <h1><a href="/projects/">JenGyy</a></h1>
                    <div class="nav">
                        <ul>
                            <li><a href="/projects/">Project</a></li>
                            <li><a href="showDev.html">Developer</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li>
                                <form class="search-container">
                                    <input
                                    id="search-box"
                                    type="text"
                                    class="search-box"
                                    name="search"
                                    onkeyup="searchFunction()"
                                    />
                                    <input type="submit" id="search-submit" />
                                </form>
                            </li>
                            <li><i class="fa-solid fa-user"></i></li>
                        </ul>
                    </div>
                </div>
                
                <div id="content">
                    <div class="table-title">
                        <h3>*</h3>
                        <h3>-</h3>
                    </div>
                    <div class="title">
                        <div class="left-column-70">
                            <h1>Project</h1>
                            <button class="newProject">
                                <a href="create-project/">New Project</a>
                            </button>
                            <button class="newDev">
                                <a href="createDev.html">New Developer</a>
                            </button>
                        </div>
                        <div class="right-column-30">
                                <div class="large-6 columns">
                                    <label for="start">Start Date</label>
                                    <input id="inputStartDate" type="date" /><br/>
                                </div>
                                <div class="large-6 columns">
                                    <label for="end">End Date</label>
                                    <input id="inputEndDate" type="date" /><br />
                                </div>
                                <div class="large-12 columns">
                                    <button class="button radius" id="filter" onclick="filterDay()">Filter</button>
                                    <button id="clearFilter" class="button radius secondary" onclick="location.reload();">
                                        Clear Filter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table --> 
                    <table id="tableProject" class="display" data-page-length="10" data-order="[[ 1, &quot;asc&quot; ]]">
                        <thead>
                            <tr>
                                <th class="text-left">ID</th>
                                <th class="text-left">Project</th>
                                <th class="text-left">Description</th>
                                <th class="text-left">Start Date</th>
                                <th class="text-left">End date</th>
                                <th class="text-left">Developer</th>
                                <th class="text-left">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-hover">
                            
                            {% for x in myprojects %}
                            <tr>
                                <td class="text-left">{{x.id}}</td>
                                <td id="name" class="text-left"><a href="updatePro.html">{{x.name}}</a></td>
                                <td class="text-left">{{x.description}}</td>
                                <td class="text-left">{{x.start_date}}</td>
                                <td class="text-left">{{x.end_date}}</td>
                                <td class="text-left"><a href="updateDev.html">{{x.dev}}</a></td>
                                <td class="text-left">
                                    <div class="dropdown">
                                    <button class="bt_dropdown">Dropdown</button>
                                    <div class="nd_dropdown">
                                        <a href="updatePro.html">Update</a>
                                        <a href="#">Remove</a>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>

            {% block script %}
                <script type="text/javascript" src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script> 
                <script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script> 
                <script src="https://kit.fontawesome.com/10053f200c.js" crossorigin="anonymous"></script>
                <script type="text/javascript" src="{% static 'lib/js/bootstrap.min.js' %}"></script> 
                <script type="text/javascript" src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script> 
                <script src="{% static 'lib/js/bootstrap.bundle.min.js' %}"></script> 
            {% endblock script %}

        </body>
    </html>